<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial sclae=1.0">
    <title>Basic Blog</title>
</head>
<body>
<h1>Hi Baby</h1>
<u1 style="display: flex; flex-flow: column; gap:10px;">
    {% for post in posts %}
    <li>
        <div style="border: 1px solid black">
            <h2>{{ post.title}}</h2>
            {% if post.image %}
            <img src="{{ post.image.url} }" height="300px">
            {% endif %}
            <p>{{ post.body} }</p>
        </div>
    </li>
    {% endfor %}
</u1>

</body>

</html>